
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 100%;
  
  text-decoration: none;
  scrollbar-width: 0px;
}
body{
  background-color: white !important;
}
button{
  background-color: transparent;
  border: none;
  outline: 0px;
}
*::-webkit-scrollbar{
  display: none;
}
img{
  max-width: 100%;
}
body{
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
body #root{
  display: flex;
  flex: 1;
  height: 100%;  
}

.df{
  display: flex;
}
.flex-1{
  flex: 1;
}
.row{
  flex-direction: row;
  width: 100%;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.flex-end{
  justify-content: flex-end;
}
.row-center{
  align-items: center;
}
.center{
  justify-content: center;
  align-items: center;
}


.we_container{
  width: 90%;
  /* max-width: 1184px; */
  margin-left: auto;
  margin-right: auto;
}
.we_container_small{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.border-primary{
  border: 1px solid lightgray;
}
.radius-primary{
  border-radius: 8px;
}

.pointer{
  cursor: pointer;
}

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.fit-absolute{
  position: absolute;
  top: 0px;
  left: 0px;
}
.fit-content{
  height: 100%;
  width: 100%;
}
.full-page{
    height: 100vh;
    width: 100%;
}






@media (max-width:960px){
  .pointer{
    cursor: auto;
  }
  
}

@media (max-width:650px){

}